/*block1*//* after_qbici */

/*.logo {
    background: url(../img/b0.jpg) no-repeat center;
    background-size: cover;
    width: 100px;
    height: 100px;
    padding: 0px 0 0;
	margin: 2px 2px 2px 2px;
}*/

.block1 {
	text-align: center;
    background: url(../img/b1.jpg) no-repeat center;
    background-size: cover;
    height: 300px;
	max-width: 100%;
    padding: 10px 0 0;
}
.block1 h1 {
    text-align: center;
    color: black;
    font-size: 45px;
    text-transform: uppercase;
    font-family:'OfficinaSansBlackC';
	text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
    margin-bottom: 6px;
}
.block1 h2 {
	text-align: center;
    color: black;
    font-size: 26px;
    text-transform: uppercase;
    background: #fff;
    display: inline-block;
    padding: 5px 20px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
	margin: 0 auto;
}
.formbox {
    background: #fff;
    width: 296px;
    height: 400px;
    border:1px solid #6dd3e1;
    -webkit-box-shadow: 0 0 0 7px #fff;
    box-shadow: 0 0 0 7px #fff;
    margin: 27px 0 0 629px;
    padding-top: 10px;
}
.stock {
    color:#fff;
    text-align: right;
    padding: 26px 30px 0 0;
}
.stock span {
    color:#222222;
    font-size: 20px;
    font-family:'OfficinaSansBoldC';
    display: inline-block;
    background: #fddd04;
    padding: 0 6px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    margin: 0 5px;
}
.plus {
    position: absolute;
	text-align: center;
    top: 216px;
    /*left: 232px;*/
	color: black;
}
.plus li {
    color: black;
    font-size: 27px;
    font-family:'OfficinaSansBoldC';
    margin-bottom: 4px;
	text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
	line-height: 30px; /* Добавьте это */
}
/*.plus li:before {
    content: '';
    display: block;
    background: url(../img/sprite1.png) no-repeat;
	width: 40px;
	height: 40px;
    float: left;
    margin-right: 10px;
    position: relative;
    top:6px;
}*/
.sale {
    font-size: 18px;
    font-family:'OfficinaSansBoldC';
    text-transform: uppercase;
    width: 130px;
    height: 130px;
    text-align: center;
    background: #fddd04;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    line-height: 30px;
    padding-top: 14px;
    border:5px solid rgba(255,255,255,.15);
    background-clip: padding-box;
    position: absolute;
    top:334px;
    left: 400px;
}
.sale p {
    font-size: 38px;
    font-family:'OfficinaSansBlackC';
}



/*------------------------------------------------------палец------------------------------------------*/

/* Стиль для надписи */
.finger {
  display: inline-block;
  position: relative;
  padding-left: 25px; /* Отступ для иконки */
  color: blue;
  text-decoration: underline;
}

/* Стиль для псевдоэлемента с иконкой */
.finger::before {
  content: "👆"; /* Символ пальца */
  position: absolute;
  left: 50px;
  top: 0;
  font-size: 20px;
  animation: click 1s infinite; /* Анимация клика */
  transform: rotate(90deg); /* Поворот на 90 градусов */
}

/* Ключевые кадры для анимации */

@keyframes click {
  0% {
    transform: scale(1) rotate(90deg); /* Исходный размер и угол */
  }
  50% {
    transform: scale(0.8) rotate(90deg); /* Уменьшенный размер и угол */
  }
  100% {
    transform: scale(1) rotate(90deg); /* Исходный размер и угол */
  }
}

/*------------------------------------------------------BLOCK 2------------------------------------------*/


/*block2*/  /* nigiri_____ */

.title {
  cursor: pointer;
  text-align: center;
  width: 100%;
}
/*.title:hover {
  color: #ADD8E6; 
}
.block2 .title::before {
  content: "\2192";
  display: inline; /* Измените это на inline или inline-block */
  text-align: center;
  color: black;
  font-size: 20px;
  vertical-align: middle;
  background: #fff;
  padding: 5px 20px;
  border-radius: 3px;
  margin: 5px auto;
}
.block2 .title::after {
  content: "\2190";
  display: inline; /* Измените это на inline или inline-block */
  text-align: center;
  color: black;
  font-size: 20px;
  vertical-align: middle;
  background: #fff;
  padding: 5px 20px;
  border-radius: 3px;
  margin: 0 auto;
}*/

.block2 {
    padding: 5px 0px 0px;
}
.preim {
    text-align: center;
}
.preim li {
    display: inline-block;
    width: 15%;
    font-family:'OfficinaSansBoldC';
    vertical-align: top;
	margin: 0px 0px 0px ;
    /*margin-bottom: 40px;*/
}

/*.preim li:before {
    content: '';
    display: block;
    width: 100px;
    height: 160px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    border: none;
    margin: 0 auto 0px;
}*/
.preim li.keine:before {
    content: '';
    display: block;
    background: url(../img/keine.png) no-repeat center center;
    background-size: cover; /* Добавьте это */
    width: 160px;
    height: 160px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    border: none;
    margin: 0 auto 0px;
    
}





	/*--------------------------MiniS----------------------------------------------------------------------------*/

.preim li.minis_fil:before {
    content: '';
    display: block;
    background: url(../img/minisetz/minis_fil.png) no-repeat center center;
    background-size: contain; /* или cover */
    width: 160px;
    height: 160px;
    border-radius: 100%;
    -webkit-border-radius: 0;
    border: none;
    margin: 0 auto 20px;
}
.preim li.minis_dra:before {
    content: '';
    display: block;
    background: url(../img/minisetz/minis_dra.png) no-repeat center center;
    background-size: contain; /* или cover */
    width: 160px;
    height: 160px;
    border-radius: 100%;
    -webkit-border-radius: 0;
    border: none;
    margin: 0 auto 20px;
}
.preim li.minis_cal:before {
    content: '';
    display: block;
    background: url(../img/minisetz/minis_cal.png) no-repeat center center;
    background-size: contain; /* или cover */
    width: 160px;
    height: 160px;
    border-radius: 100%;
    -webkit-border-radius: 0;
    border: none;
    margin: 0 auto 20px;
}
.preim li.minis_ala:before {
    content: '';
    display: block;
    background: url(../img/minisetz/minis_ala.png) no-repeat center center;
    background-size: contain; /* или cover */
    width: 160px;
    height: 160px;
    border-radius: 100%;
    -webkit-border-radius: 0;
    border: none;
    margin: 0 auto 20px;
}
.preim li.minis_gar:before {
    content: '';
    display: block;
    background: url(../img/minisetz/minis_gar.png) no-repeat center center;
    background-size: contain; /* или cover */
    width: 160px;
    height: 160px;
    border-radius: 100%;
    -webkit-border-radius: 0;
    border: none;
    margin: 0 auto 20px;
}


	/*--------------------------Sets----------------------------------------------------------------------------*/

.preim li.set_makman:before {
    content: '';
    display: block;
    background: url(../img/set_makman.png) no-repeat center center;
    background-size: contain; /* или cover */
    width: 160px;
    height: 160px;
    border-radius: 100%;
    -webkit-border-radius: 0;
    border: none;
    margin: 0 auto 20px;
}
.preim li.set_top:before {
    content: '';
    display: block;
    background: url(../img/set_top.png) no-repeat center center;
    background-size: contain; /* или cover */
    width: 160px;
    height: 160px;
    border-radius: 100%;
    -webkit-border-radius: 0;
    border: none;
    margin: 0 auto 20px;
}
.preim li.set_fil:before {
    content: '';
    display: block;
    background: url(../img/set_fil.png) no-repeat center center;
    background-size: contain; /* или cover */
    width: 160px;
    height: 160px;
    border-radius: 100%;
    -webkit-border-radius: 0;
    border: none;
    margin: 0 auto 20px;
}
.preim li.set_filxl:before {
    content: '';
    display: block;
    background: url(../img/set_filxl.png) no-repeat center center;
    background-size: contain; /* или cover */
    width: 160px;
    height: 160px;
    border-radius: 100%;
    -webkit-border-radius: 0;
    border: none;
    margin: 0 auto 20px;
}
.preim li.set_lac:before {
    content: '';
    display: block;
    background: url(../img/set_lac.png) no-repeat center center;
    background-size: contain; /* или cover */
    width: 160px;
    height: 160px;
    border-radius: 100%;
    -webkit-border-radius: 0;
    border: none;
    margin: 0 auto 20px;
}
.preim li.set_una:before {
    content: '';
    display: block;
    background: url(../img/set_una.png) no-repeat center center;
    background-size: contain; /* или cover */
    width: 160px;
    height: 160px;
    border-radius: 100%;
    -webkit-border-radius: 0;
    border: none;
    margin: 0 auto 20px;
}
.preim li.set_kal:before {
    content: '';
    display: block;
    background: url(../img/set_kal.png) no-repeat center center;
    background-size: contain; /* или cover */
    width: 160px;
    height: 160px;
    border-radius: 100%;
    -webkit-border-radius: 0;
    border: none;
    margin: 0 auto 20px;
}
.preim li.set_okt:before {
    content: '';
    display: block;
    background: url(../img/set_okt.png) no-repeat center center;
    background-size: contain; /* или cover */
    width: 160px;
    height: 160px;
    border-radius: 100%;
    -webkit-border-radius: 0;
    border: none;
    margin: 0 auto 20px;
}



/*------------------------------------------------------Nigiri / Gunkan------------------------------------------*/

/*
.preim li.kal:before {
    content: '';
    display: block;
    background: url(../img/kal.png) no-repeat center center;
    background-size: contain; 
    width: 160px;
    height: 160px;
    border-radius: 100%;
    -webkit-border-radius: 0;
    border: none;
    margin: 0 auto 20px;
}
.preim li.kal.image2:before {
  background-image: url('../img/kal2.png');
}
*/


.preim li.item1:before {
    content: '';
    display: block;
    background: url(../img/nigiri/preim1.png) no-repeat center center;
    background-size: cover; 
    width: 160px;
    height: 160px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    border: none;
    margin: 0 auto 0px;
    
}
.preim li.item1.image2 {
  background-image: url('../img/nigiri/preim12.png');
}
.preim li.item2:before {
    content: '';
    display: block;
    background: url(../img/nigiri/preim2.png) no-repeat center center;
    background-size: cover; /* или cover */
    width: 160px;
    height: 160px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    border: none;
    margin: 0 auto 0px;
}
.preim li.nig_okt:before {
    content: '';
    display: block;
    background: url(../img/nig_okt.png) no-repeat center center;
    background-size: 60% 60%; /* изменено с contain на 60% 60% */
    background-position: center; /* изменено с 30% 60% на center */
    width: 160px;
    height: 160px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    border: none;
    margin: 0 auto 0px;
}
.preim li.item3:before {
    content: '';
    display: block;
    background: url(../img/nigiri/preim3.png) no-repeat center center;
    background-size: cover; /* или cover */
    width: 160px;
    height: 160px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    border: none;
    margin: 0 auto 0px;
}
.preim li.item4:before {
    content: '';
    display: block;
    background: url(../img/nigiri/preim4.png) no-repeat center center;
    background-size: cover; /* или cover */
    width: 160px;
    height: 160px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    border: none;
    margin: 0 auto 0px;
}
.preim li.item5:before {
    content: '';
    display: block;
    background: url(../img/avocado-nigiri.jpg) no-repeat center center;
    background-size: cover; /* или cover */
    width: 160px;
    height: 160px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    border: none;
    margin: 0 auto 0px;
}
.preim li.item6:before {
    content: '';
    display: block;
    background: url(../img/nigiri/preim6.png) no-repeat center center;
    background-size: cover; /* или cover */
    width: 160px;
    height: 160px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    border: none;
    margin: 0 auto 20px;
}

	/*------------------------------------GUNKAN--------------------------------*/


/*
.preim li.kal:before {
    content: '';
    display: block;
    background: url(../img/kal.png) no-repeat center center;
    background-size: contain; 
    width: 160px;
    height: 160px;
    border-radius: 100%;
    -webkit-border-radius: 0;
    border: none;
    margin: 0 auto 20px;
}
.preim li.kal.image2:before {
  background-image: url('../img/kal2.png');
}
*/


.preim li.gunk_wak:before {
    content: '';
    display: block;
    background: url(../img/gunk_wak.png) no-repeat center center;
    background-size: cover; /* или cover */
    width: 160px;
    height: 160px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    border: none;
    margin: 0 auto 20px;
}
.preim li.gunk_okt:before {
    content: '';
    display: block;
    background: url(../img/gunk_okt.png) no-repeat center center;
    background-size: cover; /* или cover */
    width: 160px;
    height: 160px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    border: none;
    margin: 0 auto 20px;
}
.preim li.gunk_iku:before {
    content: '';
    display: block;
    background: url(../img/gunk_iku.png) no-repeat center center;
    background-size: cover; /* или cover */
    width: 160px;
    height: 160px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    border: none;
    margin: 0 auto 20px;
}
.preim li.gunk_mag:before {
    content: '';
    display: block;
    background: url(../img/gunk_mag.png) no-repeat center center;
    background-size: cover; /* или cover */
    width: 160px;
    height: 160px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    border: none;
    margin: 0 auto 20px;
}
.preim li.gunk_spsake:before {
    content: '';
    display: block;
    background: url(../img/gunk_spsake.png) no-repeat center center;
    background-size: contain; /* или cover */
    width: 160px;
    height: 160px;
    border-radius: 100%;
    -webkit-border-radius: 0;
    border: none;
    margin: 0 auto 20px;
}
.preim li.gunk_kassake:before {
    content: '';
    display: block;
    background: url(../img/gunk_kassake.png) no-repeat center center;
    background-size: contain; /* или cover */
    width: 160px;
    height: 160px;
    border-radius: 100%;
    -webkit-border-radius: 0;
    border: none;
    margin: 0 auto 20px;
}
.preim li.gunk_spunagi:before {
    content: '';
    display: block;
    background: url(../img/gunk_spunagi.png) no-repeat center center;
    background-size: contain; /* или cover */
    width: 160px;
    height: 160px;
    border-radius: 100%;
    -webkit-border-radius: 0;
    border: none;
    margin: 0 auto 20px;
}


	/*---------------------------------maki----------------------------------*/

/*

.preim li.kal:before {
    content: '';
    display: block;
    background: url(../img/kal.png) no-repeat center center;
    background-size: contain; 
    width: 160px;
    height: 160px;
    border-radius: 100%;
    -webkit-border-radius: 0;
    border: none;
    margin: 0 auto 20px;
}
.preim li.kal.image2:before {
  background-image: url('../img/kal2.png');
}

*/







.preim li.maki_lachs:before {
    content: '';
    display: block;
    background: url(../img/maki_lachs.png) no-repeat center center;
    background-size: contain; /* или cover */
    width: 160px;
    height: 160px;
    border-radius: 100%;
    -webkit-border-radius: 0;
    border: none;
    margin: 0 auto 20px;
}
.preim li.maki_okt:before {
    content: '';
    display: block;
    background: url(../img/maki_okt.png) no-repeat center center;
    background-size: contain; /* или cover */
    width: 160px;
    height: 160px;
    border-radius: 100%;
    -webkit-border-radius: 0;
    border: none;
    margin: 0 auto 20px;
}
.preim li.maki_lachsg:before {
    content: '';
    display: block;
    background: url(../img/maki_lachsg.png) no-repeat center center;
    background-size: contain; 
    width: 160px;
    height: 160px;
    border-radius: 100%;
    -webkit-border-radius: 0;
    border: none;
    margin: 0 auto 20px;
}
.preim li.maki_sake_avo:before {
    content: '';
    display: block;
    background: url(../img/maki_sake_avo.png) no-repeat center center;
    background-size: contain; 
    width: 160px;
    height: 160px;
    border-radius: 100%;
    -webkit-border-radius: 0;
    border: none;
    margin: 0 auto 20px;
}
.preim li.maki_lachsg:active:before,
.preim li.maki_lachsg:hover:before {
    background: url(../img/maki_lachsg2.png) no-repeat center center;
    background-position: center;
    background-size: contain; 
    width: 120px;
    height: 120px;
    margin: 40px auto 20px;
}
.preim li.maki_mag:before {
    content: '';
    display: block;
    background: url(../img/maki_mag.png) no-repeat center center;
    background-size: contain; /* или cover */
    width: 160px;
    height: 160px;
    border-radius: 100%;
    -webkit-border-radius: 0;
    border: none;
    margin: 0 auto 20px;
}
.preim li.maki_unagi:before {
    content: '';
    display: block;
    background: url(../img/maki_unagi.png) no-repeat center center;
    background-size: contain; /* или cover */
    width: 160px;
    height: 160px;
    border-radius: 100%;
    -webkit-border-radius: 0;
    border: none;
    margin: 0 auto 20px;
}
.preim li.maki_ebi:before {
    content: '';
    display: block;
    background: url(../img/maki_ebi.png) no-repeat center center;
    background-size: contain; /* или cover */
    width: 160px;
    height: 160px;
    border-radius: 100%;
    -webkit-border-radius: 0;
    border: none;
    margin: 0 auto 20px;
}
.preim li.maki_avo:before {
    content: '';
    display: block;
    background: url(../img/maki_avo.png) no-repeat center center;
    background-size: contain; /* или cover */
    width: 160px;
    height: 160px;
    border-radius: 100%;
    -webkit-border-radius: 0;
    border: none;
    margin: 0 auto 20px;
}
.preim li.maki_kappa:before {
    content: '';
    display: block;
    background: url(../img/maki_kappa.png) no-repeat center center;
    background-size: contain; /* или cover */
    width: 160px;
    height: 160px;
    border-radius: 100%;
    -webkit-border-radius: 0;
    border: none;
    margin: 0 auto 20px;
}
.preim li.maki_wak:before {
    content: '';
    display: block;
    background: url(../img/maki_wak.png) no-repeat center center;
    background-size: contain; /* или cover */
    width: 160px;
    height: 160px;
    border-radius: 100%;
    -webkit-border-radius: 0;
    border: none;
    margin: 0 auto 20px;
}
.preim li.mali_kase:before {
    content: '';
    display: block;
    background: url(../img/mali_kase.png) no-repeat center center;
    background-size: contain; /* или cover */
    width: 160px;
    height: 160px;
    border-radius: 100%;
    -webkit-border-radius: 0;
    border: none;
    margin: 0 auto 20px;
}
.preim li.mali_tom:before {
    content: '';
    display: block;
    background: url(../img/tom.png) no-repeat center center;
    background-size: contain; /* или cover */
    width: 160px;
    height: 160px;
    border-radius: 100%;
    -webkit-border-radius: 0;
    border: none;
    margin: 0 auto 20px;
}
.preim li.maki_mango:before {
    content: '';
    display: block;
    background: url(../img/maki_mango.png) no-repeat center center;
    background-size: contain; /* или cover */
    width: 160px;
    height: 160px;
    border-radius: 100%;
    -webkit-border-radius: 0;
    border: none;
    margin: 0 auto 20px;
}





	/*------------------------------------FILA--------------------------------*/




.preim li.lex:before {
    content: '';
    display: block;
    background: url(../img/lex.png) no-repeat center center;
    background-size: contain; /* или cover */
    width: 160px;
    height: 160px;
    border-radius: 0;
    -webkit-border-radius: 0;
    border: none;
    margin: 0 auto 20px;
}
.preim li.fila:before {
    content: '';
    display: block;
    background: url(../img/fila.png) no-repeat center center;
    background-size: contain; /* или cover */
    width: 160px;
    height: 160px;
    border-radius: 0;
    -webkit-border-radius: 0;
    border: none;
    margin: 0 auto 20px;
}
.preim li.fila_okt:before {
    content: '';
    display: block;
    background: url(../img/fila_okt.png) no-repeat center center;
    background-size: contain; /* или cover */
    width: 160px;
    height: 160px;
    border-radius: 0;
    -webkit-border-radius: 0;
    border: none;
    margin: 0 auto 20px;
}
.preim li.fila_mix:before {
    content: '';
    display: block;
    background: url(../img/fila_mix.png) no-repeat center center;
    background-size: contain; /* или cover */
    width: 160px;
    height: 160px;
    border-radius: 0;
    -webkit-border-radius: 0;
    border: none;
    margin: 0 auto 20px;
}
.preim li.fila_unagi:before {
    content: '';
    display: block;
    background: url(../img/fila_unagi.png) no-repeat center center;
    background-size: contain; /* или cover */
    width: 160px;
    height: 160px;
    border-radius: 100%;
    -webkit-border-radius: 0;
    border: none;
    margin: 0 auto 20px;
}
.preim li.fila_ebi:before {
    content: '';
    display: block;
    background: url(../img/fila_ebi.png) no-repeat center center;
    background-size: contain; /* или cover */
    width: 160px;
    height: 160px;
    border-radius: 100%;
    -webkit-border-radius: 0;
    border: none;
    margin: 0 auto 20px;
}
.preim li.fila_mango:before {
    content: '';
    display: block;
    background: url(../img/fila_mango.png) no-repeat center center;
    background-size: contain; /* или cover */
    width: 160px;
    height: 160px;
    border-radius: 100%;
    -webkit-border-radius: 0;
    border: none;
    margin: 0 auto 20px;
}
.preim li.rot_dra:before {
    content: '';
    display: block;
    background: url(../img/rot_dra.png) no-repeat center center;
    background-size: contain; /* или cover */
    width: 160px;
    height: 160px;
    border-radius: 100%;
    -webkit-border-radius: 0;
    border: none;
    margin: 0 auto 20px;
}
.preim li.avo_ebi_fila:before {
    content: '';
    display: block;
    background: url(../img/avo_ebi_fila.png) no-repeat center center;
    background-size: contain; /* или cover */
    width: 160px;
    height: 160px;
    border-radius: 100%;
    -webkit-border-radius: 0;
    border: none;
    margin: 0 auto 20px;
}
.preim li.gold_dra:before {
    content: '';
    display: block;
    background: url(../img/gold_dra.png) no-repeat center center;
    background-size: contain; /* или cover */
    width: 160px;
    height: 160px;
    border-radius: 100%;
    -webkit-border-radius: 0;
    border: none;
    margin: 0 auto 20px;
}
.preim li.grun_dra:before {
    content: '';
    display: block;
    background: url(../img/grun_dra.png) no-repeat center center;
    background-size: contain; /* или cover */
    width: 160px;
    height: 160px;
    border-radius: 100%;
    -webkit-border-radius: 0;
    border: none;
    margin: 0 auto 20px;
}
.preim li.fila_chi:before {
    content: '';
    display: block;
    background: url(../img/fila_chi.png) no-repeat center center;
    background-size: contain; /* или cover */
    width: 160px;
    height: 160px;
    border-radius: 100%;
    -webkit-border-radius: 0;
    border: none;
    margin: 0 auto 20px;
}


	/*--------------------------------Calif---------------------------------*/
.preim li.kal:before {
    content: '';
    display: block;
    background: url(../img/kal.png) no-repeat center center;
    background-size: contain; 
    width: 160px;
    height: 160px;
    border-radius: 100%;
    -webkit-border-radius: 0;
    border: none;
    margin: 0 auto 20px;
}
.preim li.okt_kali:before {
    content: '';
    display: block;
    background: url(../img/okt_kali.png) no-repeat center center;
    background-size: contain; /* или cover */
    width: 160px;
    height: 160px;
    border-radius: 0;
    -webkit-border-radius: 0;
    border: none;
    margin: 0 auto 20px;
}
.preim li.kal.image2:before {
    background-image: url('../img/kal2.png');
    width: 120px;
    height: 120px;
    border-radius: 100%;
    -webkit-border-radius: 0;
    border: none;
    margin: 40px auto 20px;

}
.preim li.sake_kali:before {
    content: '';
    display: block;
    background: url(../img/sake_kali.png) no-repeat center center;
    background-size: contain; /* или cover */
    width: 160px;
    height: 160px;
    border-radius: 100%;
    -webkit-border-radius: 0;
    border: none;
    margin: 0 auto 20px;
}
.preim li.ebi_kali:before {
    content: '';
    display: block;
    background: url(../img/ebi_kali.png) no-repeat center center;
    background-size: contain; /* или cover */
    width: 160px;
    height: 160px;
    border-radius: 100%;
    -webkit-border-radius: 0;
    border: none;
    margin: 0 auto 20px;
}
.preim li.kat_kali:before {
    content: '';
    display: block;
    background: url(../img/kat_kali.png) no-repeat center center;
    background-size: contain; /* или cover */
    width: 160px;
    height: 160px;
    border-radius: 100%;
    -webkit-border-radius: 0;
    border: none;
    margin: 0 auto 20px;
}
.preim li.mag_cal:before {
    content: '';
    display: block;
    background: url(../img/mag_cal.png) no-repeat center center;
    background-size: contain; /* или cover */
    width: 160px;
    height: 160px;
    border-radius: 100%;
    -webkit-border-radius: 0;
    border: none;
    margin: 0 auto 20px;
}
.preim li.mag_spa:before {
    content: '';
    display: block;
    background: url(../img/mag_spa.png) no-repeat center center;
    background-size: contain; /* или cover */
    width: 160px;
    height: 160px;
    border-radius: 100%;
    -webkit-border-radius: 0;
    border: none;
    margin: 0 auto 20px;
}
.preim li.ebi_spa:before {
    content: '';
    display: block;
    background: url(../img/ebi_spa.png) no-repeat center center;
    background-size: contain; /* или cover */
    width: 160px;
    height: 160px;
    border-radius: 100%;
    -webkit-border-radius: 0;
    border: none;
    margin: 0 auto 20px;
}
.preim li.okt_ala:before {
    content: '';
    display: block;
    background: url(../img/okt_ala.png) no-repeat center center;
    background-size: contain; /* или cover */
    width: 160px;
    height: 160px;
    border-radius: 0;
    -webkit-border-radius: 0;
    border: none;
    margin: 0 auto 20px;
}
.preim li.sake_ala:before {
    content: '';
    display: block;
    background: url(../img/sake_ala.png) no-repeat center center;
    background-size: contain; /* или cover */
    width: 160px;
    height: 160px;
    border-radius: 100%;
    -webkit-border-radius: 0;
    border: none;
    margin: 0 auto 20px;
}
.preim li.kat_ala:before {
    content: '';
    display: block;
    background: url(../img/kat_ala.png) no-repeat center center;
    background-size: contain; /* или cover */
    width: 160px;
    height: 160px;
    border-radius: 100%;
    -webkit-border-radius: 0;
    border: none;
    margin: 0 auto 20px;
}.preim li.ebi_ala:before {
    content: '';
    display: block;
    background: url(../img/ebi_ala.png) no-repeat center center;
    background-size: contain; /* или cover */
    width: 160px;
    height: 160px;
    border-radius: 100%;
    -webkit-border-radius: 0;
    border: none;
    margin: 0 auto 20px;
}
.preim li.unagi_ala:before {
    content: '';
    display: block;
    background: url(../img/unagi_ala.png) no-repeat center center;
    background-size: contain; /* или cover */
    width: 160px;
    height: 160px;
    border-radius: 100%;
    -webkit-border-radius: 0;
    border: none;
    margin: 0 auto 20px;
}
.preim li.mag_ala:before {
    content: '';
    display: block;
    background: url(../img/mag_ala.png) no-repeat center center;
    background-size: contain; /* или cover */
    width: 160px;
    height: 160px;
    border-radius: 100%;
    -webkit-border-radius: 0;
    border: none;
    margin: 0 auto 20px;
}
.preim li.sake_kappa_futo:before {
    content: '';
    display: block;
    background: url(../img/sake_kappa_futo.png) no-repeat center center;
    background-size: contain; /* или cover */
    width: 160px;
    height: 160px;
    border-radius: 100%;
    -webkit-border-radius: 0;
    border: none;
    margin: 0 auto 20px;
}
.preim li.tam_surimi:before {
    content: '';
    display: block;
    background: url(../img/tam_surimi.png) no-repeat center center;
    background-size: contain; /* или cover */
    width: 160px;
    height: 160px;
    border-radius: 100%;
    -webkit-border-radius: 0;
    border: none;
    margin: 0 auto 20px;
}
.preim li.katana_futo:before {
    content: '';
    display: block;
    background: url(../img/sake_kappa_futo.png) no-repeat center center;
    background-size: contain; /* или cover */
    width: 160px;
    height: 160px;
    border-radius: 100%;
    -webkit-border-radius: 0;
    border: none;
    margin: 0 auto 20px;
}


	/*---------------------------------HOT------------------------------------*/



.preim li.rak3:before {
    content: '';
    display: block;
    background: url(../img/rak3.png) no-repeat center center;
    background-size: contain; /* или cover */
    width: 160px;
    height: 160px;
    border-radius: 100%;
    -webkit-border-radius: 0;
    border: none;
    margin: 0 auto 20px;
}
.preim li.rak5:before {
    content: '';
    display: block;
    background: url(../img/rak5.png) no-repeat center center;
    background-size: contain; /* или cover */
    width: 160px;
    height: 160px;
    border-radius: 100%;
    -webkit-border-radius: 0;
    border: none;
    margin: 0 auto 20px;
}
.preim li.sake_hot:before {
    content: '';
    display: block;
    background: url(../img/sake_hot.png) no-repeat center center;
    background-size: contain; /* или cover */
    width: 160px;
    height: 160px;
    border-radius: 100%;
    -webkit-border-radius: 0;
    border: none;
    margin: 0 auto 20px;
}
.preim li.tako_hot:before {
    content: '';
    display: block;
    background: url(../img/tako_hot.png) no-repeat center center;
    background-size: contain; /* или cover */
    width: 160px;
    height: 160px;
    border-radius: 100%;
    -webkit-border-radius: 0;
    border: none;
    margin: 0 auto 20px;
}
.preim li.surimi_hot:before {
    content: '';
    display: block;
    background: url(../img/surimi_hot.png) no-repeat center center;
    background-size: contain; /* или cover */
    width: 160px;
    height: 160px;
    border-radius: 100%;
    -webkit-border-radius: 0;
    border: none;
    margin: 0 auto 20px;
}
.preim li.ebi_hot:before {
    content: '';
    display: block;
    background: url(../img/ebi_hot.png) no-repeat center center;
    background-size: contain; /* или cover */
    width: 160px;
    height: 160px;
    border-radius: 100%;
    -webkit-border-radius: 0;
    border: none;
    margin: 0 auto 20px;
}
.preim li.unagi_hot:before {
    content: '';
    display: block;
    background: url(../img/unagi_hot.png) no-repeat center center;
    background-size: contain; /* или cover */
    width: 160px;
    height: 160px;
    border-radius: 100%;
    -webkit-border-radius: 0;
    border: none;
    margin: 0 auto 20px;
}
.preim li.yasai_hot:before {
    content: '';
    display: block;
    background: url(../img/yasai_hot.png) no-repeat center center;
    background-size: contain; /* или cover */
    width: 160px;
    height: 160px;
    border-radius: 100%;
    -webkit-border-radius: 0;
    border: none;
    margin: 0 auto 20px;
}
.preim li.maki_hot:before {
    content: '';
    display: block;
    background: url(../img/maki_hot.png) no-repeat center center;
    background-size: contain; /* или cover */
    width: 160px;
    height: 160px;
    border-radius: 100%;
    -webkit-border-radius: 0;
    border: none;
    margin: 0 auto 20px;
}
.preim li.maguro_hot:before {
    content: '';
    display: block;
    background: url(../img/maguro_hot.png) no-repeat center center;
    background-size: contain; /* или cover */
    width: 160px;
    height: 160px;
    border-radius: 100%;
    -webkit-border-radius: 0;
    border: none;
    margin: 0 auto 20px;
}

	/*---------------------------------TEMPURA------------------------------------*/

.preim li.sake_temp:before {
    content: '';
    display: block;
    background: url(../img/sake_temp.png) no-repeat center center;
    background-size: contain; /* или cover */
    width: 160px;
    height: 160px;
    border-radius: 100%;
    -webkit-border-radius: 0;
    border: none;
    margin: 0 auto 20px;
}
.preim li.unagi_temp:before {
    content: '';
    display: block;
    background: url(../img/unagi_temp.png) no-repeat center center;
    background-size: contain; /* или cover */
    width: 160px;
    height: 160px;
    border-radius: 100%;
    -webkit-border-radius: 0;
    border: none;
    margin: 0 auto 20px;
}
.preim li.ebi_temp:before {
    content: '';
    display: block;
    background: url(../img/ebi_temp.png) no-repeat center center;
    background-size: contain; /* или cover */
    width: 160px;
    height: 160px;
    border-radius: 100%;
    -webkit-border-radius: 0;
    border: none;
    margin: 0 auto 20px;
}
.preim li.mag_temp:before {
    content: '';
    display: block;
    background: url(../img/mag_temp.png) no-repeat center center;
    background-size: contain; /* или cover */
    width: 160px;
    height: 160px;
    border-radius: 100%;
    -webkit-border-radius: 0;
    border: none;
    margin: 0 auto 20px;
}
.preim li.ebi3_temp:before {
    content: '';
    display: block;
    background: url(../img/ebi3_temp.png) no-repeat center center;
    background-size: contain; /* или cover */
    width: 160px;
    height: 160px;
    border-radius: 100%;
    -webkit-border-radius: 0;
    border: none;
    margin: 0 auto 20px;
}
.preim li.ebi5_temp:before {
    content: '';
    display: block;
    background: url(../img/ebi5_temp.png) no-repeat center center;
    background-size: contain; /* или cover */
    width: 160px;
    height: 160px;
    border-radius: 100%;
    -webkit-border-radius: 0;
    border: none;
    margin: 0 auto 20px;
}
	


	/*---------------------------------NUDELN------------------------------------*/

.preim li.reis_huhn:before {
    content: '';
    display: block;
    background: url(../img/reis_huhn.png) no-repeat center center;
    background-size: contain; /* или cover */
    width: 160px;
    height: 160px;
    border-radius: 100%;
    -webkit-border-radius: 0;
    border: none;
    margin: 0 auto 20px;
}
.preim li.reisnud_huhn:before {
    content: '';
    display: block;
    background: url(../img/reisnud_huhn.png) no-repeat center center;
    background-size: contain; /* или cover */
    width: 160px;
    height: 160px;
    border-radius: 100%;
    -webkit-border-radius: 0;
    border: none;
    margin: 0 auto 20px;
}
.preim li.buch_huhn:before {
    content: '';
    display: block;
    background: url(../img/buch_huhn.jpeg) no-repeat center center;
    background-size: contain; /* или cover */
    width: 160px;
    height: 160px;
    border-radius: 100%;
    -webkit-border-radius: 0;
    border: none;
    margin: 0 auto 20px;
}


/*------------------------------------------------------------------------------------------------------*/

.preim li:nth-child(2):before {
    background-position: 0 0;
}
.preim li:nth-child(3):before {
    background-position: 0 0;
}
.preim li:nth-child(4):before {
    background-position: 0 0;
}
.preim li:nth-child(5):before {
    background-position: 0 0;
}
.preim li:nth-child(6):before {
    background-position: 0 0;
}




/*--------------------------------------FOOTER-----------------------------------*/

.footer {
	text-align: center;
    background: url(../img/b4.jpg) no-repeat top;
    background-size: cover;
    height: 580px;
	max-width: 100%;
    padding: 10px 0px 0;
	margin: 50px auto 20px;
}

/*-------------------------------------- Media Queries ----1200---------------------------------*//* after_qbici */ 
@media screen and (max-width: 1200px) {
    
.preim li {
        width: 20%;
}

/*-------------------------------------- Media Queries ----959---------------------------------*//* after_qbici */    
@media screen and (max-width: 959px) {
    .block1 {
	text-align: center;
    background: url(../img/b1.jpg) no-repeat center center;
    background-size: contain;
    height: 300px;
    padding: 0px 0 0;
}
.block1 h1 {
    text-align: center;
    color: black;
    font-size: 45px;
    text-transform: uppercase;
    font-family:'OfficinaSansBlackC';
	text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
    margin-bottom: 6px;
}
.block1 h2 {
	text-align: center;
    color: black;
    font-size: 26px;
    text-transform: uppercase;
    background: #fff;
    display: inline-block;
    padding: 5px 20px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
	margin: 0 auto;
}
.preim li {
        width: 25%;
}


    .formbox {
        margin: 27px 0 0 327px;
    }
    .stock {
        padding: 21px 17px 0 0;
}
    .sale {
        top: 77px;
        left: 49px;
}
    h2.title, .block3 h2 {
        font-size: 30px;
    }
    

    .block3 {
        background: #52b700;
        height: auto;
        padding: 30px 0;
}
    .block3 h2 {
        margin: 0;
        text-align: center;
}
    .block3 p {
        padding: 10px 0 20px;
}
    .block3 p:after {
        content: '';
        display: block;
        background: url(../img/cat2.jpg) no-repeat 0 0;
        width: 209px;
        height: 193px;
        float: left;
        margin:10px 20px 0 0;
    }
    .wat, .wat li:nth-child(2), .wat li:nth-child(3), .wat li:nth-child(4) {
        margin: 0;
}
    
    .video-container {
        width: 100%;
        height: 351px;
        float: none;
        margin: 0 0 20px 0;
}
    
    .use li {
        margin-bottom: 17px;
}
    .note {
        background:#fddd04;
        width: 100%;
        height: auto;
        margin: 0 auto;
        padding: 20px 30px;
        border-radius: 10px;
        -webkit-border-radius: 10px;
}
    
    .ship {
        margin: 0 0 0 256px;
}
  
    .reviews {
        width: 100%;
}
    .rev {
        width: 620px;
    }
    .rev h3 {
        margin-top: 10px;
        margin-bottom: 10px;
}
    .rev img {
        margin-right: 10px;
}
    .rev p {
        padding: 0 10px 0 0;
        line-height: 22px;
}
    .slick-prev, .slick-next {
        top: 106%;
}
    .slick-next {
        right: 128px;
}
    .slick-prev {
        left: 128px;
}
    .end {
        background: url(../img/bfm.jpg) no-repeat center top;
        height: 563px;
    }




/*-------------------------------------- Media Queries ----639---------------------------------*//* michael-k90 */ 
@media screen and (max-width: 639px) {

.preim li {
        width: 40%;
}
    .block1 {
	text-align: center;
    background: url(../img/b1.jpg) no-repeat center;
    background-size: cover;
    height: 300px;
    padding: 0px 0 0;
}
.block1 h1 {
    text-align: center;
    color: black;
    font-size: 45px;
    text-transform: uppercase;
    font-family:'OfficinaSansBlackC';
	text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
    margin-bottom: 6px;
}
.block1 h2 {
	text-align: center;
    color: black;
    font-size: 26px;
    text-transform: uppercase;
    background: #fff;
    display: inline-block;
    padding: 5px 20px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
	margin: 0 auto;
    }
    .sale {
        display: none;
    }
    .formbox {
        width: 296px;    
        margin: 340px auto 0;
}
    .stock {
        padding: 21px 0 0;
        text-align: center;
}
    
 

    
}